html{
    background-color: #171717;
}

h1{
    color: white;
    margin-left: -1215px;

}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    background-color: #171717;
   
}
 .user{
    flex: 15%;
    background-color:#171717 ;
    
 }

.user h3{
    color: white;
    margin: -20px -30px 26px -169px;
    font-size: 12px;
}


img{
    width: 100%;
    padding: 16px;
  }


  @media screen and (max-width: 768px) {
   .user {
       flex: calc(100% / 3);
       /* flex: 25.33%; */
       /* flex: 194px; */
   }

   h1{
    margin-left: 0px;
   }
    
  }

  @media screen and (max-width: 1024px) and (min-width:769px){
    .user {
        flex: 25%;
    }

    h1{
        margin-left: 0px;
    }

    .user h3{
        margin: -20px -30px 26px -132px;
    }
  
  }

  